---
import Layout from "../layouts/Layout.astro";
import Developers from "../components/sections/Developers.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="المجموعة السعودية للمصادر المفتوحة">
    <main>
        <Header />
        <section id="intro">
            <div class="container mx-auto">
                <p>
                    الهدف من فكرة جمع المشاريع المفتوحة المصدر هو تحفيز المجتمع التقني السعودي لإثراء المحتوى البرمجي وخلق بيئة تعارف بين المبرمجين من خلال عرض بعض من أعمالهم. هذه المجموعة تدار من قبل
                    
                </p>
            </div>
        </section>
        <section id="cta" class="py-8">
			<div class="container mx-auto">
				<div class="flex justify-between justify-items-center items-center p-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:bg-opacity-50 dark:text-yellow-300" role="alert">
					<div>شاركنا وقم بإضافة مشروعك هنا</div>
					<a target="_blank" href="https://github.com/SaudiOpenSourceCommunity/SaudiOSS" class="block focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:focus:ring-yellow-900">إضافة</a>
				</div>
			</div>
		</section>

        <Developers />
		<Footer />
    </main>
</Layout>
